body {
    font-family: 'Lato', sans-serif
}

.title {
    font-size: 30px;
    font-weight: bold;
}

.form-box {
    border: 1px solid grey;
    border-color: rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 1rem;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}