$primary: lightblue;
$nav-link-color: #369BDE;

@import "../node_modules/bootstrap/scss/bootstrap.scss";

body {
    font-family: 'Signika Negative', sans-serif
}

.hide {
    display: none;
}

#nav-toggler {
    right: 0;
    top: 0;
}

.offcanvas {
    transition: transform .2s ease-in-out;
    background-color: #555;
    background-clip: border-box;
    color: white;
}

.offcanvas-title {
    font-size: 50px;
    font-weight: bolder;
}

.offcanvas-backdrop.show {
    background-color: white;
    opacity: 0.7;
}

.nav-link.link-light.active {
    color: $primary!important;
}