{% set navigation_bar = [
    ('/', 'home', 'Home'),
    ('/tool', 'tool', 'Online Calculator'),
    ('/about', 'about', 'About'),
    ('https://legwork.readthedocs.io/en/latest/cite.html', 'cite', 'Citing LEGWORK'),
    ('https://legwork.readthedocs.io', 'package', 'Python Package')
] -%}
{% set active_page = active_page|default('index') -%}

<!DOCTYPE html>
<html class="h-100" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Web app for using LEGWORK online">
    <meta name="author" content="Tom Wagg">
    <title>{% block title %}{% endblock %}- LEGWORK Online</title>
    <link href="../static/img/logo.ico" rel="icon">
    <!-- icons and fonts -->
    <script src="https://kit.fontawesome.com/328d20ce71.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Signika+Negative:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <!-- main css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    {% block css_imports %}{% endblock %}
</head>

<body class="d-flex flex-column h-100">
    <button id="nav-toggler" class="position-fixed btn btn-light m-3" type="button" data-bs-toggle="offcanvas"
        data-bs-target="#nav" style="z-index: 100;">
        <i class="fa fa-bars fa-3x"></i>
    </button>
    <div class="offcanvas offcanvas-end px-5" tabindex="-1" id="nav">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title">Menu</h5>
            <button type="button" class="btn-close btn-light" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body fs-2">
            <ul class="nav flex-column me-auto mb-2 mb-lg-0">
                {% for href, id, caption in navigation_bar %}
                    {% if id != "home" %}<hr>{% endif %}
                    <li class="nav-item">
                        <a{% if id == active_page %} class="active nav-link link-light"{% else %} class="nav-link link-light"{% endif
                    %} href="{{ href|e }}">{{ caption|e }}</hr>
                    </a>
                {% endfor %}
                <!-- <li class="nav-item">
                    <a class="nav-link link-light" href="/">Home</a>
                </li>
                <hr>
                <li class="nav-item">
                    <a class="nav-link link-light" href="/tool">Online Calculator</a>
                </li>
                <hr>
                <li class="nav-item">
                    <a class="nav-link link-light" href="/about">About</a>
                </li>
                <hr>
                <li class="nav-item">
                    <a class="nav-link link-light" href="https://legwork.readthedocs.io/en/latest/cite.html">Citing
                        LEGWORK</a>
                </li>
                <hr>
                <li class="nav-item">
                    <a class="nav-link link-light" href="https://legwork.readthedocs.io">Python Package</a>
                </li> -->
            </ul>
        </div>
    </div>
    {% block navbar %}
    <nav class="navbar navbar-light bg-light mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="../static/img/legwork_shoe.png" style="width:100px;">
            </a>
            <div class="me-auto mb-2 mb-lg-0 display-5 fw-bold">
                LEGWORK Online
            </div>
        </div>
    </nav>
    {% endblock %}

    <main class="flex-shrink-0">
    {% block content %}{% endblock %}
    </main>

    <footer class="mt-auto border-top">
        <div class="container-fluid d-flex flex-wrap justify-content-between align-items-center py-3 ">
            <div class="col-md-4 d-flex align-items-center">
                <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
                    <img src="../static/img/legwork_shoe.png" width="30px">
                </a>
                <span class="text-muted">© 2022 Tom Wagg</span>
            </div>
            <ul class="nav col-md-4 justify-content-end">
                <li class="nav-item"><a href="/" class="nav-link px-2 text-muted">Home</a></li>
                <li class="nav-item"><a href="/tool" class="nav-link px-2 text-muted">Online Calculator</a></li>
                <li class="nav-item"><a href="/about" class="nav-link px-2 text-muted">About</a></li>
                <li class="nav-item"><a href="https://legwork.readthedocs.io/en/latest/cite.html"
                        class="nav-link px-2 text-muted">Citing LEGWORK</a></li>
                <li class="nav-item"><a href="https://legwork.readthedocs.io/en/latest/"
                        class="nav-link px-2 text-muted">Python Package</a></li>
            </ul>
        </div>
        </footer>
    <div id="javascriptbox">
        {% block js_imports %}{% endblock %}
        <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
        <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3.0.1/es5/tex-mml-chtml.js">
        </script>
    </div>
</body>