{% extends 'base.html' %}

{% block title %}
{% endblock %}

{% block css_imports %}
<link href="../static/css/home.css" rel="stylesheet">
{% endblock %}

<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
        <div class="display-1 fw-bold">
            <img src="../static/img/legwork_shoe.png" height="40px"> LEGWORK Online</div>
        <p class="col-md-8 fs-4"> a one stop shop for analysing stellar-origin gravitational-wave sources for
            space-based detectors </p>
    </div>
</div>